@import '../../../styles.scss';

.grid-carrossel {
  display: grid;

  .carrossel-description {
    p {
      max-width: 480px;
      padding: 0 30px;
    }
  }

  .carrossel-image {
    img {
      object-fit: contain;
      width: 90%;

      @media screen and (max-width: 991px) {
        height: 30vh;
      }

    }
  }

  .carrossel-control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .control {
      width: 11px;
      height: 11px;
      background: $white;
      border-radius: 50px;
      position: relative;
      display: block;
      margin: 6px;
      cursor: pointer;
      opacity: 0.5;
      transition: all .3s;
      transition-delay: .1s;
    }

    .selected {
      width: 26px;
      height: 11px;
      opacity: 1;
      transition: all .3s;
      transition-delay: .1s;
    }

  }

}
