@import '../../../styles.scss';

.page {
  height: 100%;
  width: 100%;
  position: relative;

  .grid-page {
    height: 100%;
    display: grid;

    @media screen and (max-width: 991px) {
      grid-template-rows: 1fr 1fr;
    }

    @media screen and (min-width: 992px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .carrossel {
    background: $green;
    color: $white;
    padding: 100px 0;
  }

  .login-form {

    .invision {
      text-align: end;
      margin-right: 10%;
      margin-top: 120px;

      h1 {
        font-size: 35px;
        font-family: $font-family-invision;
      }
    }

    .welcome {
      color: $grey;
      margin-bottom: 87px;
    }

    .input {
      width: 100%;
      max-width: 433px;

    }

    .forgot-password {
      text-align: end;

      h4 {
        width: 100%;
        max-width: 433px;
        margin-top: -10px;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      margin-top: 15px;

      .sign-in {
        background: $grey 0% 0% no-repeat padding-box;
        border-radius: 100px;
        text-align: left;
        font-family: $font-family;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0px;
        color: $white;
        height: 45px;
        width: 175px;
        cursor: pointer;
      }

      .or {
        margin-top: 40px;
        text-align: left;
        font: normal normal normal 14px/18px Mulish;
        letter-spacing: 0px;
        color: $grey;
        opacity: 1;
        display: flex;

        &::after,
        &::before {
          content: "";
          background: $grey;
          display: block;
          width: 150px;
          height: 1px;
          position: relative;
          top: 9px;
          margin: 0 20px;
        }
      }

      .sign-in-google {
        background: $white 0% 0% no-repeat padding-box;
        border-radius: 100px;
        box-shadow: 0px 3px 6px #00000029;
        color: $black;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        font-family: $font-family-google;
        font-size: 18px;
        gap: 20px;
        height: 45px;
        margin-top: 40px;
        opacity: 1;
        padding: 0 30px;
        text-align: left;
        width: 203px;

        .google-logo {
          height: 30px;
          width: 30px;
        }
      }

      .new-account {
        margin-top: 40px;
        font-family: $font-family;

        .link {
          text-decoration: underline;
          cursor: pointer;
          color: $green;
        }
      }
    }
  }

}
