<div class="page">
  <div class="grid-page">
    <div class="carrossel center">
      <app-carrossel [carrosselItems]="carrosselItems"></app-carrossel>
    </div>
    <div class="login-form">
      <div class="invision">
        <h1>Invision</h1>
      </div>
      <div class="welcome center">
        <h1>Welcome to Invision</h1>
      </div>
      <form class="center">
        <mat-form-field class="input" appearance="legacy">
          <mat-label>Users name or Email</mat-label>
          <input matInput placeholder="example@mail.com">
        </mat-form-field>
        <mat-form-field class="input" appearance="legacy">
          <mat-label>Password</mat-label>
          <input matInput type="password">
        </mat-form-field>
      </form>
      <div class="forgot-password center">
        <h4>
          Forgot Password?
        </h4>
      </div>
      <div class="buttons center">
        <div class="sign-in center">
          Sign In
        </div>
        <div class="or">Or</div>
        <div class="sign-in-google center">
          <img class="google-logo center" src='assets/google.svg'>
          <div>
            Sign in with Google
          </div>
        </div>
        <div class="new-account">
          <h4>New <b>Invision</b>? <a class="link">Create Account</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
