$font-family: "Mulish", sans-serif;
$font-family-invision: "Avenir", sans-serif;
$font-family-google: "Lato", sans-serif;
$font-weight-normal: 400;

$white: #ffffff;
$black: #000000;
$green: #a9c5ba;
$grey: #707070;